.skill {
  background-color: var(--color-dark);
  background-image: url('../../bg.jpg');
  background-size: cover;
  color: var(--color-dark);
  text-align: center;
}

.skill__title {
  color: var(--color-light);
  position: relative;
}

.skill__title::after {
  content: '';
  display: block;
  width: 3.2rem;
  height: .1rem;
  margin: .8rem auto 1.6rem;
  background: var(--color-light);
  opacity: 0.25;
}

.skill__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  text-align: left;
  padding-bottom: 2rem;
  justify-content: center;
  row-gap: 1rem;
}

.skill__item {
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: .5rem;
  padding: 3rem;
}

.skill__item h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .skill__list {
    max-width: 1000px;
    grid-template-columns: repeat(3, 30%);
    margin: 0 auto;
    padding-bottom: 2rem;
    column-gap: 3.2rem;
  }

}