.theme {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.theme__dot {
	height: 3rem;
	width: 3rem;
	background-color: black;
	border-radius: 50%;
  transition: .3s;
	margin: .5rem;
	border:.2rem solid var(--color-accent);

	box-shadow: -.1rem .1rem .3rem -.1rem rgba(0,0,0,0.75);

	cursor: pointer;
}

.theme__dot:hover{
	border-width: 2rem;
}

#default-mode {
	background-color: #78866B;
}

#second-mode {
	background-color: #7E4C74;
}

#third-mode {
	background-color: #7b90a4;
}

#fourth-mode {
	background-color: #A66540;
}