@mixin opacity {
  opacity: 0.7;
}

#footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5rem 0;
  font-size: var(--fs--h3);

  .footer__email {
    @include opacity();
    font-weight: var(--fw-bold);

    &:hover {
      text-decoration: underline;
    }
  }

  .social {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
    padding: 0;
  }

  .social__item {
    margin: 0 0.5em;
  }

  .social-item__link {
    @include opacity();
    padding: 0.5em;
  }
}
