html {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family-primary: 'Lora', serif;
  --font-family-secondary: 'Roboto Slab', serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #78866b;

  --font-size-h1: 4.8rem;
  --font-size-h2: 3.6rem;
  --font-size-h3: 2rem;
  --font-size-body: 1.6rem;

  --box-shadow: 0.4rem 0.4rem 1.2rem rgba(0, 0, 0, 0.25),
    0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --font-size-h1: 7.2rem;
    --font-size-h2: 6rem;
    --font-size-h3: 2.4rem;
    --font-size-body: 1.8rem;
  }
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

section {
  padding: 8rem 3.2rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-bold);
}

.nav-toggle:focus {
  outline: 0.3rem solid var(--color-accent);
  outline-offset: 0.3rem;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}

.section__title {
  margin-bottom: 1rem;
}

.section__title--intro {
  font-weight: var(--font-weight-regular);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--font-size-h3);
}

.section__subtitle--intro {
  background: var(--color-accent);
  padding: 0.4rem 1.6rem;
  font-family: var(--font-family-secondary);
  margin-bottom: 1.6rem;
  color: var(--color-light);
}

.btn {
  padding: 0.8rem 4rem;
  background: var(--color-accent);
  color: var(--color-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.28rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: var(--font-weight-bold);
  transition: transform 200ms ease-in-out;
  width: 100%;
  margin-top: 1rem;
}

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .btn {
    width: 20rem;
  }
}
